<div class="user-details">
    <h1> Projetos DataGov </h1>

    <p>A organização data-gov no github possui atualmente 4 projetos ativos, suas responsabilidades estão compreendidas
        entre buscar dados de fontes publicas, transformá-los e armazená-los em uma base de dados própria, na nuvem,
        prover uma API pública onde qualquer cliente externo poderá consumir essas informações e, por fim,
        prover uma integração com sistemas de mensagens, tais como: Facebook, Gitter, Telegram e etc;
        utilizando um processador de linguagem natural além de um agente conversacional.
    </p>

    <p> Todos os projetos desenvolvidos possuem seus códigos abertos na plataforma github e somente
        utilizam ferramentas open source.
    </p>
</div>
<div class="user">
    <div class="tech">
        <h2>Dados</h2>
        <p>Utilizando tecnologias como Kotlin, Spring, Feign, MongoDB os projetos Bumblebee e Ratchet
            consomem dados oficiais de API's públicas, modelam para um formato comum e os armazena em um
            banco de dados NoSQL na nuvem, chamado MongoDB, além de atualizar a base de dados do processador
            de linguagem natural.
        </p>
    </div>
    <div class="tech">
        <h2>API</h2>
        <p>
            O projeto Optmus-Prime é o responsável por prover uma API onde qualquer aplicação pode consultar
            os dados armazenados previamente. Este projeto foi desenvolvido utilizando Javascript, NodeJS e GraphQL,
            desta maneira, cabe a quem está buscando informações solicitar quais campos deseja utilizar, otimizando
            o número de dados trafegados pela rede.
        </p>
    </div>
    <div class="tech">
        <h2>Divulgação</h2>
        <p>Atualmente o DataGov expõem os dados coletados ao público utilizando-se de um agente conversacional
            integrado com o Facebook e Gitter, podendo ser expandido também para Telegram e demais plataformas
            de troca de mensagens. O projeto Wheeljack é o responsável por prover esta integração, utilizando
            tecnologias como
            Javascript, NodeJS, Hubot e Wit.ai.
        </p>
    </div>
</div>